# Model training application entry point

In [1]:
import subprocess
import pandas as pd

## Pre-processing both train and test CSVs in data/external and save them in data/processed

In [2]:
%run ../1.0-cbw-data-preprocessing.ipynb

In [3]:
processed_train = pd.read_csv('../../data/processed/processed_application_train.csv')
processed_test = pd.read_csv('../../data/processed/processed_application_test.csv')

## Display pre-processed train and test CSVs first lines (head)

In [4]:
processed_train.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
0,1.0,0.0,1.0,0.0,0.112486,-0.545235,-0.275900,-0.569221,5.0,4.0,...,-0.847015,-0.176513,-0.391974,-0.867653,0.239270,0.247568,-0.146298,1.0,-0.425172,1
1,0.0,0.0,0.0,0.0,0.704502,1.526865,0.434724,1.412794,3.0,1.0,...,-0.525905,-0.087911,-0.234799,-0.362014,-0.141029,-0.136194,0.214322,1.0,-1.004679,0
2,1.0,1.0,0.0,1.0,0.309825,0.650662,-0.000257,0.312947,5.0,4.0,...,0.234202,-0.176513,-0.391974,0.267126,-0.521328,-0.519956,1.185404,1.0,-0.425172,0
3,0.0,0.0,1.0,0.0,-0.005917,0.312391,0.246019,0.267120,5.0,4.0,...,2.363206,0.264224,1.214356,2.409605,-0.521328,-0.519956,0.968561,1.0,-0.425172,0
4,0.0,0.0,1.0,0.0,-0.676868,-1.127208,-1.363063,-1.061861,5.0,4.0,...,-0.757281,-0.176513,-0.391974,-0.788004,2.521066,2.550139,0.908457,1.0,-1.004679,0

In [5]:
processed_test.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_YEAR
0,0.0,0.0,1.0,2.0,1.059309,2.562260,1.028660,2.935280,3.0,4.0,...,1.419629,2.110205,0.689932,0.805199,2.168000,-0.267779,-0.267861,-0.732162,1.0,0.649564
1,0.0,1.0,1.0,0.0,0.647693,1.007165,0.177099,0.841447,1.0,4.0,...,0.938461,0.874028,0.080436,0.702445,0.840780,-0.267779,-0.267861,-0.621556,0.0,0.052319
2,1.0,1.0,1.0,0.0,-0.175538,-0.669483,-0.585425,-0.759719,3.0,4.0,...,-0.781894,-0.489856,-0.004714,-0.367065,-0.587546,0.105273,0.108637,0.913653,0.0,0.649564
3,0.0,1.0,1.0,1.0,0.236077,-0.328294,-0.476987,-0.390220,0.0,1.0,...,-0.153617,-0.172673,-0.179496,0.039609,-0.285087,0.664851,0.673385,-0.523117,1.0,1.246809
4,0.0,0.0,1.0,0.0,-0.916446,-0.849631,-0.730010,-0.759719,0.0,4.0,...,-0.380409,-0.608382,-0.179496,-0.377196,-0.533566,-0.267779,-0.267861,-1.276343,1.0,0.052319

## Train models and track them with MLFlow

In [6]:
def train_models():
    subprocess.run('mlflow run ../../src/models/train/gradient_boosting')
    subprocess.run('mlflow run ../../src/models/train/xgboost ')
    subprocess.run('mlflow run ../../src/models/train/random_forest')

In [7]:
train_models()

## Running MLFow UI server to visualize runs

In [ ]:
subprocess.run('mlflow ui')